<div class="sidebar" data-color="rose" data-background-color="black" data-image="~/JS/themeJS/assets/img/sidebar-1.jpg">

    <div class="logo">
        <a href="http://www.creative-tim.com/" class="simple-text logo-mini">
            X
        </a>
        <a href="http://www.creative-tim.com/" class="simple-text logo-normal">
            OESM
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/JS/themeJS/assets/img/faces/avatar.jpg" />

            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        Tania Andrew
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> MP </span>
                                <span class="sidebar-normal"> My Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> EP </span>
                                <span class="sidebar-normal"> Edit Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard </p>
                </a>
            </li>


            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Index", "OESClass")">
                    <i class="material-icons">apps</i>
                    <p>
                        Class Management
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Index", "OESUsers")">
                    <i class="material-icons">content_paste</i>
                    <p>
                        User Management
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Index", "OESSubject")">
                    <i class="material-icons">widgets</i>
                    <p>
                        Subject Management
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Index", "OESQuestionsBank")">
                    <i class="material-icons">timeline</i>
                    <p>
                        Question Management
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Index", "OESExam")">
                    <i class="material-icons">date_range</i>
                    <p>
                        Exam Management
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Index", "OESExam")">
                    <i class="material-icons">widgets</i>
                    <p>
                        Exam Result
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">widgets</i>
                    <p>
                        Login History
                    </p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                    <i class="material-icons">image</i>
                    <p>
                        General Settings

                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="pagesExamples">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> P </span>
                                <span class="sidebar-normal"> Test </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="sidebar-background"></div>
</div>
